<h1>IT WORKS</h1>

<button type="button" (click)="changeOriginalValue()">
  change originial value
</button>

<button type="button" (click)="changeTheme()">change theme</button>
<button type="button" (click)="changeUri()">change uri</button>

<form [formGroup]="form">
  <!-- <ng-monaco-editor
    [options]="options"
    [uri]="uri"
    formControlName="editor"
  ></ng-monaco-editor> -->
  <ng-monaco-diff-editor
    formControlName="diffEditor"
    [options]="options"
    [originalValue]="diffOriginalValue"
    [uri]="uri"
    (editorLoad)="onLoad($event)"
  ></ng-monaco-diff-editor>
</form>
