<h1>IT WORKS</h1>

<button type="button" (click)="changeLanguage()">Change language</button>
<button type="button" (click)="changeTheme()">Change theme</button>
<button type="button" (click)="showSecond.set(!showSecond())">
  Show second
</button>

<form [formGroup]="form">
  <ngx-monaco-editor
    [options]="options"
    formControlName="editor"
  ></ngx-monaco-editor>
</form>

@if(showSecond() ) {
<ngx-monaco-editor [options]="options" [(ngModel)]="value"></ngx-monaco-editor>
}

<ngx-monaco-editor [options]="options1" (change)="onChange($event)"></ngx-monaco-editor>

