<h1>IT WORKS</h1>

<button (click)="changeLanguage()" type="button">Change language</button>
<button (click)="changeTheme()" type="button">Change theme</button>
<button (click)="showSecond.set(!showSecond())" type="button">
  Show second
</button>

<form [formGroup]="form">
  <ng-monaco-editor
    [options]="options"
    formControlName="editor"
  ></ng-monaco-editor>
</form>

@if(showSecond() ) {
<ng-monaco-editor [options]="options" [(ngModel)]="value"></ng-monaco-editor>
}

<ng-monaco-editor
  [options]="options1"
  (editorChange)="onChange($event)"
></ng-monaco-editor>
